.herosection_parent {
  width: 100%;
  height: 100svh;
  // background-image: url("../../assets/hero_bg.jpg");
  position: relative;
  overflow: hidden;
  background-position: bottom center !important;


   .hero_swiper {
    height: 100%;
  }
  

  .herosection_cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: var(--unit);
      padding: 10px 0px;

      .header_text {
        color: var(--accent);
      }

      .hero_heading {
        max-width: 20ch;
        font-size: 50px;
        text-transform: capitalize;
        color: var(--black);
      }

      .hero_para {
        font-size: calc(var(--unit) + 5px);
        line-height: 150%;
        text-transform: capitalize;
        max-width: 50ch;
      }
    }

    .right {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
     

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  // .mask_image{
  //     width: 60%;
  //     aspect-ratio: 1;
  //     position: absolute;
  //     top: -30%;
  //     right: -15%;
  //     background: url("../../assets/hero_overlay.jpg");
  //     border-radius: 50%;
  //     z-index: 1;

  // }
}

@media only screen and (max-width: 900px) {
  .herosection_parent {
    background: url("../../assets/potrait_hero.webp");
    .herosection_cont {
      flex-direction: column-reverse;

      .left {
        width: 100%;
        height: 50%;
      }

      .right {
        height: 50%;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .herosection_parent {
  
    .herosection_cont {
   

      .left {
        justify-content: flex-end;
        
        .hero_heading{
            font-size: calc(var(--unit) + 10px);
        }

        .hero_para{
            font-size: calc(var(--unit));
            line-height: 110%;
        }
      }

   
    }
  }
}