.herosection_parent {
  width: 100%;
  height: 100svh;
  position: relative;
  overflow: hidden;

  .hero_swiper {
    height: 100%;
    position: relative;
    
  }
  .overlay_hero {
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.329);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }

  .herosection_cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .hero_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: calc(var(--unit));

      .header_text {
        color: var(--accent);
      }

      .hero_heading {
        max-width: 20ch;
        text-align: center;
        font-size: 50px;
        text-transform: capitalize;
        color: var(--white);
      }

      .hero_para {
        font-size: calc(var(--unit) + 5px);
        line-height: 150%;
        text-transform: capitalize;
        max-width: 80ch;
        color: rgb(206, 205, 205);
        text-align: center;
      }
    }
  }

  // .mask_image{
  //     width: 60%;
  //     aspect-ratio: 1;
  //     position: absolute;
  //     top: -30%;
  //     right: -15%;
  //     background: url("../../assets/hero_overlay.jpg");
  //     border-radius: 50%;
  //     z-index: 1;

  // }
}

@media only screen and (max-width: 900px) {
  .herosection_parent {
    background: url("../../assets/potrait_hero.webp");
    .herosection_cont {
      flex-direction: column-reverse;

      .left {
        width: 100%;
        height: 50%;
      }

      .right {
        height: 50%;
        width: 100%;
      }
    }
  }
}


@media(max-width: 650px){
  .herosection_parent {
  .herosection_cont {
    .hero_content {

      .hero_heading {
        max-width: 20ch;
        text-align: center;
        font-size: 26px;
        line-height: 29px;
      }

      .hero_para {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
}

@media only screen and (max-width: 500px) {
  .herosection_parent {
    .herosection_cont {
      .left {
        justify-content: flex-end;

        .hero_heading {
          font-size: calc(var(--unit) + 10px);
        }

        .hero_para {
          font-size: calc(var(--unit));
          line-height: 110%;
        }
      }
    }
  }
}
