.vehicels_parent {
  width: 100%;
  padding: 50px 0px;
  background: var(--bg);

  .vehicels_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--unit) * 2);

    h2 {
      padding: 10px 0px;
      border-bottom: 2px solid var(--accent);
    }

    .list {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: var(--unit);

      .vehicle_card {
        width: calc(100% / 4 - var(--unit));
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--unit);
        height: auto;
        background-color: white;
        box-shadow: var(--shadow);
        border-radius: 15px;
        position: relative;

        .tag {
          background-color: rgb(230, 230, 230);
          color: var(--black);
          padding: 5px 10px;
          position: absolute;
          top: 10px;
          right: 10px;
          border-radius: 25px;
          font-size: 14px;
        }

        .info_card {
          background: rgb(218, 218, 218);
          color: black;
          padding: var(--unit);
          border-radius: var(--unit);
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: calc(var(--unit) * 1.5);
          letter-spacing: 0.7px;
          word-spacing: 1px;
          transition: all 0.3s ease-in-out;
          text-align: center;

          .price_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .price{
             border-bottom: 3px solid var(--accent);
         
            }

            .contentt, .head{
              font-size: 22px;
              font-weight: 500;

            }
          }
        }
        .show {
          top: 0;
        }

        h2 {
          font-size: 24px;
          font-weight: 400;
        }

        img {
          height: 200px;
          width: 100%;
          object-fit: cover;
        }
        .bottom {
          height: 20%;
          width: 100%;
          border-top: 1px solid rgb(219, 219, 219);
          padding: var(--unit);
          display: flex;
          justify-content: space-between;
          align-items: center;

          .arrow_info {
            background: var(--bg);
            color: var(--black);
            padding: 5px 15px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(var(--unit) / 2);
            box-shadow: var(--shadow);
            cursor: pointer;

            svg {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .vehicels_parent {
    .vehicels_cont {
      .list {
        .vehicle_card {
          width: calc(100% / 3 - var(--unit));
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .vehicels_parent {
    .vehicels_cont {
      .list {
        .vehicle_card {
          width: calc(100% / 2 - var(--unit));
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .vehicels_parent {
    .vehicels_cont {
      .list {
        .vehicle_card {
          width: calc(100%);
        }
      }
    }
  }
}
