.contact_popup {
  width: 100%;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.452);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;

  .contact_cont {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      width: 500px;
      padding: 10px;
      background-color: white;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--unit);
      border-radius: var(--unit);

      .top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .cross {
          font-size: 24px;
          cursor: pointer;
          height: 40px;
          aspect-ratio: 1;
          background-color: black;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
      }

      input,
      textarea {
        width: 100%;
        padding: 10px 14px;
        outline: none;
      }
    }
  }
}


@media only screen and (max-width:500px){
    .contact_popup{
        .contact_cont{
            form{
                width: 100%;
            }
        }
    }
}