.about-parent {
  padding: 50px 0px;
  // background: var(--bg);

  .about-cont {
    display: flex;

    .about-left {
      width: 50%;
      padding: calc(var(--unit));
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        font-size: 42px;
        letter-spacing: 0.5px;
        word-spacing: 1px;
        line-height: 50px;
        span {
          color: var(--accent);
        }
      }
    }

    .about-right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 1000px) {
  .about-parent {
    .about-cont {
      flex-direction: column;

      .about-left {
        width: 100%;
      }

      .about-right {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .about-parent {
    .about-cont {
      .about-left {
        h3 {
          font-size: 24px;
          letter-spacing: 0.5px;
          word-spacing: 1px;
          line-height: 30px;
          span {
            color: var(--accent);
          }
        }
      }
    }
  }
}
