.facility_parent {
  display: flex;
  align-items: stretch;
  justify-content: center;
  // padding: 50px 0px;
  .facility-left {
    width: 50%;
    background: url("../../assets/facility.jpg");
    aspect-ratio: 2/1;
  }
  .facility-right {
    width: 50%;
    padding: calc(var(--unit));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--unit) * 2);
    padding: 50px;
    // background: var(--bg);

    h2 {
      font-size: 42px;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      line-height: 50px;
    }

    .tabs {
      display: flex;
      align-items: center;
      gap: var(--unit);

      .btns {
        background: rgb(235, 235, 235);
        padding: 8px 16px;
        border-radius: 25px;

        cursor: pointer;
        transition: var(--trans);
        font-size: 16px;
        &.active {
          padding: 8px 16px;
          background-color: var(--accent);
          color: var(--black);
          border-radius: 25px;
          cursor: pointer;
          transition: var(--trans);
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .facility_parent {
    flex-direction: column;
    .facility-left {
      width: 100%;
    }
    .facility-right {
      width: 100%;
         padding: 10px;
    }
  }
}
